connexion[flask,uvicorn,swagger-ui]
uvicorn
flask
pyyaml
aiomqtt
paho-mqtt
sqlalchemy[asyncio]
asyncpg
greenlet
python-dotenv
firebase-admin
PyJWT
cryptography

# Testing
pytest
pytest-asyncio
aiosqlite
